.col-12 {
    text-align: -webkit-center;
}

.result-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    font-size: 22px;
}

strong {
    font-size: 28px;
}

.number-section {
    margin-bottom: 32px;
}

.number {
    font-size: 152px;
}

.sad-face {
    font-size: 200px;
    margin-bottom: 36px;
}

.invalid-number {
    margin-bottom: 24px;
}

.think-number {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.replay-icon {
    border-radius: 50%;
    border: 1px solid #1C1C1C;
    padding: 24px;
    font-size: 54px;
    cursor: pointer;
    background: #1C1C1C;
    color: #A6D608;
}

.confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Important: allows clicks to pass through */
    z-index: 9999;
    /* Make sure it's on top but not blocking */
    background: transparent;
}