<app-header [isRightHidden]="true" [leftIcon]="'home'" [showCenterLogo]="true"></app-header>

<div class="container intro-section">

    <div class="row">
        <div class="col-12 think-number">
            <span>Think of a number between</span>
            <span><strong>1</strong> and <strong>100</strong></span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 margin-bottom">
            <span>Just tell us whether your number appears in each card</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="material-symbols-outlined lets-play-icon" (click)="goToCardsPage()">
                play_arrow
            </div>
        </div>
    </div>

</div>